/* 使代码块、嵌入块、超级块在拖拽移动和合并操作中能正常显示提示色条 */
/* 加大拖放合并块提示色条的大小以让其更容易识别 */
.dragover__top{
    box-shadow: 0px -10px 0 var(--b3-theme-primary-lighter) !important;
}
.dragover__right{
    box-shadow: 10px 0 0 var(--b3-theme-primary-lighter) !important;
}
.dragover__bottom{
    box-shadow: 0px 10px 0 var(--b3-theme-primary-lighter) !important;
}
.dragover__left{
    box-shadow: -10px 0 0 var(--b3-theme-primary-lighter) !important;
}