.bq {
    background-color: hsl(200deg 6% 63% / 42%) !important;
    border-radius: 5px;
    border-color: #6189a0 !important;
    border-width: 3px 0 0 0 !important;
    border-style: solid !important;
    box-shadow: 0px 0px 0px 0px #ffffff;
    color: #bccdcff0 !important;
    font-family: "仓耳今楷03","楷体";
    position: relative;
}

/* 装饰计划 */
.bq::after{
    content: "";
    width: 1em;
    height:1em;
    position: absolute;
    border-radius: 50%;
    /* background-color: red; */
}