.b3-typography blockquote, .b3-typography .bq, .protyle-wysiwyg blockquote, .protyle-wysiwyg .bq {
    background-color: hsl(200deg 6% 63% / 42%) ;
    border-radius: 5px;
    border-color: #6189a0 ;
    border-width: 0 ;
    border-style: solid ;
    box-shadow: 0px 0px 0px 0px #ffffff;
    color: #bccdcff0 ;
    font-family: "仓耳今楷03";
}

[data-type="NodeBlockquote"].bq::before {
    content: "";
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    background-color: #ff000000;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-color: rgb(161 161 161 / 40%);
    border-width: 1px;
    border-style: solid;
    pointer-events: none;
    border-radius: 5px;
}





/* 装饰计划 */
/* [data-type="NodeBlockquote"].bq::after{
    content: "";
    width: 1em;
    height:1em;
    position: absolute;
    border-radius: 50%;
} */

/* 增大内边距以防止引述块中嵌套超级块时超级块卡片样式突破边界 */
.b3-typography blockquote, .b3-typography .bq, .protyle-wysiwyg blockquote, .protyle-wysiwyg .bq{
    padding: 0.4em !important;
    position: relative;
}