/* 荧光标题 */
.b3-typography .h1, .b3-typography h1, .b3-typography .h2, .b3-typography h2, .b3-typography .h3, .b3-typography h3, .b3-typography .h4, .b3-typography h4, .b3-typography .h5, .b3-typography h5, .b3-typography .h6, .b3-typography h6, .protyle-wysiwyg .h1, .protyle-wysiwyg h1, .protyle-wysiwyg .h2, .protyle-wysiwyg h2, .protyle-wysiwyg .h3, .protyle-wysiwyg h3, .protyle-wysiwyg .h4, .protyle-wysiwyg h4, .protyle-wysiwyg .h5, .protyle-wysiwyg h5, .protyle-wysiwyg .h6, .protyle-wysiwyg h6 {
    color: #ffffff;
    text-shadow:0 0 3px #0ed1c7b0, 0 0 4px #0ed1c7a8, 0 0 8px #39ccc548, 0 0 14px #61c4c109;
    letter-spacing: 0.1em;
    font-family: "思源黑体" !important;
}




/* 标题前图标 */
.h1 > :first-child::before{
    background: url('../icon/title/h1.svg');
    left: 0em;
    bottom: 0.35em;
}
.h1 > :first-child{
    padding-left: 0.8em;
}



.h2 > :first-child::before{
    background: url('../icon/title/h2.svg');
    left: 0.05em;
    bottom: 0.35em;
}
.h2 > :first-child{
    padding-left: 0.9em;
}

.h3 > :first-child::before{
    background: url('../icon/title/h3.svg');
    left: 0.09em;
    bottom: 0.2em;
}
.h3 > :first-child{
    padding-left: 1.02em;
}

.h4 > :first-child::before{
    background: url('../icon/title/h4.svg');
    left: 0.15em;
    bottom: 0.2em;
}
.h4 > :first-child{
    padding-left: 1.12em;
}
/* 防止标题折叠后右侧圆点标示和小三角图标对不齐 */
.protyle-wysiwyg div[fold="1"][data-type=NodeHeading].h4:before{
    top: 40% !important;
}


.h5 > :first-child::before{
    background: url('../icon/title/h5.svg');
    left: 0.2em;
    bottom: 0.35em;
}
.h5 > :first-child{
    padding-left: 1.24em;
}
/* 防止标题折叠后右侧圆点标示和小三角图标对不齐 */
.protyle-wysiwyg div[fold="1"][data-type=NodeHeading].h5:before{
    top: 40% !important;
}


.h6 > :first-child::before{
    background: url('../icon/title/h6.svg');
    left: 0.25em;
    bottom: 0.56em;
}
.h6 > :first-child{
    padding-left: 1.4em;
}
/* 防止标题折叠后右侧圆点标示和小三角图标对不齐 */
.protyle-wysiwyg div[fold="1"][data-type=NodeHeading].h6:before{
    top: 40% !important;
}



/* 为所有标题伪元素图标设置相同的一些属性 */
.h1 > :first-child::before,.h2 > :first-child::before,.h3 > :first-child::before,.h4 > :first-child::before,.h5 > :first-child::before,.h6 > :first-child::before{
    height: 1em;
    width: 1em;
    display:inline-block;
    position: absolute;
    content: "";
    filter: drop-shadow(0 0 5px #0ed1c7d2);
    background-position:left bottom;
    background-repeat: no-repeat;
}



/* 列表块中的标题图标位置不太对，手动调整一下 */
/* 说实话这样的调整十分拙劣 */
.list .h1>:first-child::before{
    bottom: 0.1rem;
}

.list .h2>:first-child::before{
    bottom: 0.2rem;
}

.list .h3>:first-child::before{
    bottom: 0.2rem;
}

.list .h5>:first-child::before {
    bottom: 0.5rem;
}

.list .h6>:first-child::before {
    bottom: 0.57rem;
}